.filters {
  padding-top: 80px;
  display: flex;
}

.filter {
  width: 160px;
  border: 1px solid #848b99;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.arrow-filter {
  margin-top: 6px;
  margin-left: 10px;
}

.dropfilter2 {
  display: none;
}

.dropfilter2.show {
  display: grid;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 360px;
  margin-left: 360px;
  background-color: white;
  border: 1px solid #c8cbd1;
  border-radius: 15px;
  box-shadow: 0px 10px 6px 5px rgba(0, 0, 0, 0.1);
}

.barra-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 60px;
  margin: 5px;
}

.barra-filter {
  margin: 20px;
}

.title-filter2 {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 16px;
  line-height: 24px;
  color: #111827;
  font-weight: 500;
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}


.price-number-filter {
  border: 1px solid #cbced6;
  border-radius: 20px;
  width: 100px;
  padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.price-word-filter{
  font-family:Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 20px;
  color: #374151;
  font-weight: 500;
}

.buttons-filter {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-clear-filter {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  border: 1px solid #abafb9;
  border-radius: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: white;
}

.btn-aply-filter {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #f9fafb;
  border: none;
  border-radius: 20px;
  background-color: #0511f2;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}


@media (max-width: 750px) {

  .dropfilter2.show {
    display: grid;
   
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 360px;
    margin-left: 0px;
    background-color: white;
    border: 1px solid #c8cbd1;
    border-radius: 15px;
    box-shadow: 0px 10px 6px 5px rgba(0, 0, 0, 0.1);
  }

  .title-filter2 {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 16px;
    line-height: 24px;
    color: #111827;
    font-weight: 500;
  }


  .barra-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    margin: 5px;
  }

}