.filters {
  padding-top: 80px;
  display: flex;
}

.filter {
  padding: 8px;
  border: 1px solid #111827;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 40px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.dropfilter4 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  z-index: 9999;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 9998;
}

.dropfilter4.show,
.overlay.show {
  display: block;
}

.filter4-header {
  display: flex;
  align-items: center;
}


.container {
  overflow-y: scroll;
  overflow-x: none;
  height: 430px;
  width: 780px;
}

.filter4-title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #111827;
}

.filter4-title {
  margin-left: 20px;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #111827;
}

.filter4-column-container {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.filter4-column {
  width: 100%;
}
.filter4-footer {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.individual-filter{
    width: 100%;
    cursor: pointer;
    font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}


@media (max-width: 750px) {
 
  .filter4-column-container {
    display: grid;
    margin-right: 10px;
    margin-left: 210px;
  }
  
  


}