.filters {
  padding-top: 80px;
  display: flex;
}

.filter {
  padding: 8px;
  border: 1px solid #111827;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.title-filter {
  
}

.arrow-filter {
  margin-top: 6px;
  margin-left: 10px;
}

.dropfilter1 {
  display: none;
}

.dropfilter1.show {
  display: block;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 440px;
  margin-left: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c8cbd1;
  border-radius: 15px;
  z-index: 10000;
}

.checkbox-container {
  display: flex;
  align-items: center;
  width: 450px;
  height: 60px;
  margin: 5px;
}

.text-checkbox {
  padding-top: 18px;
}

.title-checkbox-container {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #111827;
}

.subtitle-checkbox-container {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: #6b7280;
  word-spacing: 5x;
}

.buttons-filter {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-clear-filter {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  border: 1px solid #111827;
  border-radius: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.btn-aply-filter {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #f9fafb;
  border: none;
  border-radius: 20px;
  background-color: #0511f2;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

@media (max-width: 720px) {
  .dropfilter1.show {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    margin-top: 450px;
    margin-left: 310px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c8cbd1;
    border-radius: 15px;
    
  }

}