.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 550px;
  z-index: 100;
}

.btns-searchs {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #374151;
  border: none;
  margin: 50px;
  cursor: pointer;
  background-color: white;
}

.btns-searchs.clicked {
  border-radius: 20px;
  color: #111827;
}

.dot {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #111827;
  margin-right: 5px;
  margin-top: -2px;
}

.Searchcontainer {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  border-radius: 50px;
  position: absolute;
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

label {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #111827;
}

input {
  border-radius: 8px;
  width: 200px;
  height: 20px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}

.capacitycontainer {
  position: absolute;
  z-index: 7;
  background-color: white;
  margin-top: 40px;

  border-radius: 10px;
  width: 330px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.capacity-controls {
  display: none;
}

.capacity-controls.show {
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
}

.capacity-text {
  margin-right: 100px;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #1f2937;
}

.capacity-subtext {
  width: 93px;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  color: #6b7280;
}

.inputcapacity {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 18px;
  line-height: 24px;
  color: #111827;
  font-weight: 500;
  width: 40px;
  margin-top: 4px;
  margin-left: 10px;
}

.capacity-button {
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.capacityform {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.locationform {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 450px;
  border-radius: 50px 0px 0px 50px;
}

.hotelinput::placeholder {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #111827;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.hotelinput {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #111827;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.iconinputhotel {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: -20px;
}

.locationtext {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #9ca3af;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  left: 58px;
}

.locationtext2 {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #9ca3af;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  left: 510px;
}

.dateform {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 300px;
}
.fechas-container {
  display: flex;
}

.form-group {
  margin-top: 15px;
}

.btn {
  background-color: #efb810;
  border-radius: 50%;
  border: none;
  width: 70px;
  height: 70px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgba(234, 179, 11, 1);
  }
}

.head {
  margin-top: 130px;
  margin-left: 80px;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  color: #111827;
  letter-spacing: 2px;
}

.subtext {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-family: Poppins ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6b7280;
}

.subtexticon {
  margin-left: 20px;
  margin-right: 20px;
}

.head-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img1-reserv {
  width: 400px;
  height: 300px;
}

.img2-reserv {
  width: 400px;
  height: 300px;
}

.img3-reserv {
  width: 400px;
  height: 300px;
}

@media (max-width: 720px) {
  .form {
    display: flex;
    width: 100%;
  }
  .hotelinput::placeholder {
    font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    color: #111827;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
  }

  .hotelinput {
    font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    color: #111827;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    padding-left: 0px;
    width: 60px;
  }

  .locationtext {
    display: none;
  }

  .title {
    display: none;
  }

  .subtext {
    display: none;
  }

  .head-images {
    display: grid;
  }

  .img1-reserv {
    display: none;
  }

  .img2-reserv {
    width: 100%;
    height: 300px;
    margin-top: 200px;
  }

  .img3-reserv {
    display: none;
  }

  .search-event-page {
    width: 100%;
  }

  .ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 750px;
    z-index: 100;
  }

  .dateform {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fechas-container svg {
    display: none;
  }

  .fechas-container {
    margin-left: -50px;
    margin-top: -30px;
  }

  .btn {
    background-color: #efb810;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
  }

  .capacityform label svg {
    display: flex;
    margin-top: 20px;
  }

  .capacityform label {
    font-size: 0;
  }
}

.infohotel-container {
  position: absolute;
  top: 800px;
}

.Pagehotel-container {
  width: 100%;
  height: 210vw;
  position: relative;
}
